.text p span {
  color: var(--light-purple);
}

.text {
  color: var(--white-color);
}

.text mark {
  color: var(--white-color);
  background-color: var(--light-purple);
}

.text p {
  color: var(--light-color);
}

.div {
  border-left: 2px solid var(--light-color);
  color: var(--light-color);
}

.div code {
  color: var(--white-color);
}

.mod-badge {
  background-color: var(--dark-purple);
  color: var(--white-color);
}

.lottery {
  color: #fafa85 !important;
}
