<div class="p-4 flex flex-col h-full mb-8 text">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl ">
        Estamo en <mark class="px-2 rounded">directo</mark> niño</h1>
    <p class="text-lg font-normal">Aviso de los streams por <span>Discord</span>
        e <span>Instagram</span>, me falta ir a tu casa a llamarte a la puerta. Ya no tienes excusa para no
        meterte ;* </p>

    <iframe src="https://player.twitch.tv/?channel=safogang&parent=localhost&muted=true"
        class="w-full h-full max-w-full rounded-lg mt-12" allowfullscreen>
    </iframe>
</div>