<footer
    class="fixed bottom-0 left-0 z-20 w-full p-3 flex items-center justify-between shadow md:flex md:items-center md:justify-between md:p-3">
    <span class="text-sm sm:text-center "><span class="purple">
            <>
        </span> por <a href="https://github.com/nereagonzalez12" class="hover:underline purple">Nerea</a>
        con
        <span class="purple">❤</span>
    </span>
    <img src="assets/svg/chocobi.svg" class="md:w-9 w-6">
    <ul class="flex flex-wrap items-center text-sm font-sm">
        <li>
            <a href="https://www.twitch.tv/safogang" class="hover:underline">Vuelve al Stream</a>
        </li>
    </ul>
</footer>