<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<aside id="separator-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto sidebar">
        <div class="logo-section">
            <img class="w-36 h-36" src="assets/svg/logo.svg" alt="Extra large avatar">
        </div>
        <ul class="space-y-2 font-medium">
            <li>
                <a href="https://www.twitch.tv/safogang" class=" link-page flex items-center p-2 rounded-lg group">
                    <svg class="twitch-icon w-5 h-5 transition duration-75" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path
                            d="M 5.3632812 2 L 2 6.6367188 L 2 20 L 7 20 L 7 23 L 10 23 L 13 20 L 17 20 L 22 15 L 22 2 L 5.3632812 2 z M 6 4 L 20 4 L 20 13 L 17 16 L 12 16 L 9 19 L 9 16 L 6 16 L 6 4 z M 11 7 L 11 12 L 13 12 L 13 7 L 11 7 z M 16 7 L 16 12 L 18 12 L 18 7 L 16 7 z">
                        </path>
                    </svg>
                    <span class="ms-3">Volver al Stream</span>
                </a>
            </li>
            <li>
                <a (click)="showCommandView()" class="link-page flex items-center p-2 rounded-lg group cursor-pointer">
                    <img src="assets/svg/bot.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Comandos</span>
                </a>
            </li>
            <li>
                <a href="https://www.streamloots.com/safogang" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/chest.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Cofres</span>
                </a>
            </li>
            <li>
                <a (click)="showExtensibleView()"
                    class="link-page flex items-center p-2 rounded-lg group cursor-pointer">
                    <img src="assets/svg/timer.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Extensible</span>
                </a>
            </li>
        </ul>
        <ul class="space-line pt-4 mt-4 space-y-2 font-medium border-t">

            <li>
                <a href="https://www.youtube.com/@safogang" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/yt.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Youtube</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/safogang_/" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/ig.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://kick.com/safogang" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/kick.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Kick</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@safogang" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/tiktok.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">TikTok</span>
                </a>
            </li>
            <li>
                <a href="https://discord.gg/5U7TEVtA" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/discord.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Discord</span>
                </a>
            </li>


            <li>
                <a href="https://streamlabs.com/safogang/tip" class="link-page flex items-center p-2 rounded-lg group">
                    <img src="assets/svg/money.svg" class="w-5 h-5 transition duration-75">
                    <span class="ms-3">Donaciones</span>
                </a>
            </li>
        </ul>
        <app-footer></app-footer>
    </div>



</aside>

<div class="p-4 sm:ml-64 h-full">

    <app-stream *ngIf="homeView"></app-stream>
    <app-extensible *ngIf="extensibleView"></app-extensible>
    <app-commands *ngIf="commandView"></app-commands>
</div>