.text {
  color: var(--white-color);
}

.text mark {
  color: var(--white-color);
  background-color: var(--dark-purple);
}

.text p {
  color: var(--light-color);
}

small,
p {
  color: var(--light-color);
}

.button {
  background-color: var(--dark-purple);
  color: var(--white-color);
}

.button:hover {
  background-color: var(--dark-color-2);
}

.button:focus {
  border: 2px solid var(--white-color);
}

.free {
  color: #1a9964;
}
